body {
  background-color: grey;
  font-family: 'Arial Narrow Bold', sans-serif;
}

h3, #form {
  color: white;
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  align-items:center;
}